site_name: DiscoBench
repo_url: https://github.com/AlexGoldie/discobench
site_url: https://AlexGoldie.github.io/discobench
site_description: This repository contains code for the DiscoBench modular benchmark for automated algorithm discovery.
site_author: Alex Goldie
edit_uri: edit/main/docs/
repo_name: AlexGoldie/discobench
copyright: Maintained by <a href="https://AlexGoldie.com">AlexGoldie</a>.

nav:
  - Home: index.md
  - Using DiscoBench: usage.md
  - Domains: domains.md
  - Contributing:
    - Overview: how_to/overview.md
    - Adding Datasets: how_to/dataset_integration.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["discobench"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/AlexGoldie/discobench
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/discobench
    - icon: fontawesome/solid/blog
      link: https://alexgoldie.github.io/discobench-blog/

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
